@model IEnumerable<DigitalWarehouse.Models.ProductModel>

@{
    ViewData["Title"] = "Products";
}

<h1>Products</h1>

<form asp-controller="Product" asp-action="Index" method="get">
    <div class="input-group mb-3">
        <input type="text" name="searchString" class="form-control" placeholder="Search for name, description or category"
               value="@Context.Request.Query["searchString"]">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>

<p>
    <a asp-action="Create" class="btn btn-outline-primary btn-md rounded-pill shadow-sm">Create New</a>
</p>

<div class="table-responsive">
    <table class="table table-hover align-middle shadow-sm">
        <thead class="table-dark">
            <tr>
                <th>
                    <a href="@Url.Action("Index", "Product", new { sortOrder = ViewData["NameSortParm"], searchString = Context.Request.Query["searchString"] })" class="text-white">
                        @Html.DisplayNameFor(model => model.Name)
                    </a>
                </th>
                <th>
                    <a href="@Url.Action("Index", "Product", new { sortOrder = ViewData["DescriptionSortParm"], searchString = Context.Request.Query["searchString"] })" class="text-white">
                        @Html.DisplayNameFor(model => model.Description)
                    </a>
                </th>
                <th>
                    <a href="@Url.Action("Index", "Product", new { sortOrder = ViewData["PriceSortParm"], searchString = Context.Request.Query["searchString"] })" class="text-white">
                        @Html.DisplayNameFor(model => model.Price)
                    </a>
                </th>
                <th>
                    <a href="@Url.Action("Index", "Product", new { sortOrder = ViewData["AmountSortParm"], searchString = Context.Request.Query["searchString"] })" class="text-white">
                        @Html.DisplayNameFor(model => model.Amount)
                    </a>
                </th>
                <th>
                    <a href="@Url.Action("Index", "Product", new { sortOrder = ViewData["CategorySortParm"], searchString = Context.Request.Query["searchString"] })" class="text-white">
                        Category
                    </a>
                </th>
                <th class="text-center"></th>
                <th class="text-center"></th>
                <th class="text-center"></th>
            </tr>
        </thead>
        <tbody class="bg-light">
            @foreach (var item in Model)
            {
                <tr>
                    <td><strong>@Html.DisplayFor(modelItem => item.Name)</strong></td>
                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                    <td><span class="fw-bold text-success">$@Html.DisplayFor(modelItem => item.Price)</span></td>
                    <td>
                        @if (item.Amount > 0)
                        {
                            <span class="badge bg-success">@item.Amount</span>
                        }
                        else
                        {
                            <span class="badge bg-danger">Out of stock</span>
                        }
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.Category.Name)</td>
                    <td class="text-center">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm w-md-auto">
                            <i class="bi bi-pencil-square"></i> Edit
                        </a>
                    </td>
                    <td class="text-center">
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm w-md-auto">
                            <i class="bi bi-eye"></i> Details
                        </a>
                    </td>
                    <td class="text-center">
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm w-md-auto">
                            <i class="bi bi-trash"></i> Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

